<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <script src='https://kit.fontawesome.com/132e87df1f.js'></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>m.w. art</title>
</head>
<body>

  <div class="wrapper">

    <!-- NAVBAR
    ================================== -->

    <nav class="navbar">
      <div class="navbar__menu">
        <div class="navbar__menu-btn">
          <div class="navbar__menu-btn__burger"> </div>
        </div>
      </div>

    <div class="navbar__lang">
      <span>[</span> pl <span>]</span>
    </div>

    <div class="navbar__search">
      <i class="fas fa-search"></i>
    </div>

  </nav>
</div>
     <!-- SOCIAL MEDIA
    ================================== -->

    <div class="media">
      <ul class="media__list">
      <li class="media__item">facebook</li>
      <li class="media__item">instagram</li>
      <li class="media__item">twitter</li>
      </ul>
    </div>

         <!-- TEXT
    ================================== -->

    <div class="text__box">
      <h1>Matylda</h1>
      <h3>Wałęsa</h3>
      <p class="text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum nesciunt inventore tempora animi ipsum dicta asperiores quidem eligendi! Minus, quae?
      </p>
    </div>

           <!-- SPONSOR
    ================================== -->

<div class="sponsor">
  <h2>HAIR</h2>
  <h2>MAKEUP</h2>
  <h2>ART</h2>
  <p class="text">official sponsor</p>
</div>

           <!-- DISTORTION
    ================================== -->
    <div class="distortion"></div>

</body>
</html>