<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <script src='https://kit.fontawesome.com/132e87df1f.js'></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>m.w. art</title>
</head>
<body>

  <div class="wrapper">

    <!-- NAVBAR
    ================================== -->

    <nav class="navbar">
      <div class="navbar__menu">
        <div class="navbar__menu-btn">
          <div class="navbar__menu-btn__burger"> </div>
        </div>
      </div>

    <div class="navbar__lang">
      <span>[</span> pl <span>]</span>
    </div>

    <div class="navbar__search">
      <i class="fas fa-search"></i>
    </div>

  </nav>
</div>
     <!-- SOCIAL MEDIA
    ================================== -->

    <div class="media">
      <ul class="media__list">
        <li class="media__item">
          <a href="http://" target="_blank" rel="noopener noreferrer">
              facebook
          </a>
         </li>
        <li class="media__item">
          <a href="http://" target="_blank" rel="noopener noreferrer">
             instagram
          </a>
          </li>
        <li class="media__item">
          <a href="http://" target="_blank" rel="noopener noreferrer">
               twitter
          </a>
        </li>
      </ul>
    </div>

         <!-- TEXT
    ================================== -->

    <div class="text__box">
      <h1 class="text__header">Matylda</h1>
      <h3 class="text__header">Wałęsa</h3>
      <p class="text">
Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam exercitationem aliquam odit fugit natus accusantium, beatae laudantium earum quas provident.
      </p>
    </div>

           <!-- SPONSOR
    ================================== -->

<div class="proffession">
  <h2 class="proffession__header">MAKEUP</h2>
  <h2 class="proffession__header">HAIR</h2>
  <h2 class="proffession__header">STUDIO</h2>
  <!-- <p class="text proffession__text">official sponsor</p> -->
</div>

           <!-- DISTORTION
    ================================== -->
    <div class="distortion"></div>

</body>
</html>